.popup-bg-cont {
  max-width: 90vw;
  max-height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  overflow: auto;
}

.blurred-background {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.image-cont {
  width: 760px;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.full-image {
  width: 760px;
  height: 467px;
  margin-bottom: 20px;
}

.images-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 0%;
}

.details-container {
  display: flex;
  flex-direction: column;
  min-width: 355px;
  height: 90%;
}

.product-icon-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
}

.product-name-heading {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  color: black;
}

.price-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-align: left;
}

.price-span {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}

.dashed-line {
  border-top: 1px dashed #fe0000;
  width: 100%;
  height: 0;
  margin: 5px 0;
}

.heading-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #535353;
}

.details-text-para {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #535353;
}

.details-col-cont {
  display: flex;
  flex-direction: column;
}

.detail-row-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star-image {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.choose-button {
  background-color: #fe0000;
  width: 100%;
  height: 52px;
  color: white;
  top: 466px;
  left: 361px;
  gap: 4px;
  border-radius: 0px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .popup-bg-cont {
    width: 80%;
    height: 80%;
    flex-direction: column;
  }

  .blurred-background {
    padding: 20px 0px 20px 0px;
  }

  .image-cont {
    width: 100%;
    margin-bottom: 40px;
  }

  .full-image {
    width: 100%;
    height: 300px;
  }

  .details-container {
    width: 100%;
  }
}
